.forgot-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 150px;  
}
.page-title {
    font-size: 30px;
}

.signup-form-button {
    width: 100%;
    margin-top: 8px;
}
.ant-form-item {
    margin-bottom: 10px;
}
.ant-form-item-label {
    line-height: 17.9999px;
}
.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #0bf;
    border-color: #0bf;
}

.signup-form input {
    margin-bottom: 14px;
}