.signup-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 10px;    
}
.page-title {
    font-size: 30px;
}

.signup-form-button {
    width: 100%;
    margin-top: 6px;
}
.ant-form-item {
    margin-bottom: -14px;
}
.ant-form-item-label {
    line-height: 15.9999px;
}
.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #0bf;
    border-color: #0bf;
}
#signuP {
    margin-bottom: -10px !important;
}
.signup-form input {
    margin-bottom: 10px;
}
